@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Montserrat", sans-serif;
font-family: "Krona One", sans-serif;
  font-weight: 400;
*/

:root {
    --cor-princpal:#22D4FD;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #000000;
    --cor-hover: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat", sans-serif;
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__navegacao{
    display: flex;
    gap: 80px;
}

.cabecalho__links{
    text-decoration: none;
    color: var(--cor-princpal);
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 600;
}


.conteudo{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
}

.sobre__principal{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
}

.conteudo__secao{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
}

.sobre__secao{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
}

.conteudo__titulo  {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 36px;
}

.sobre__titulo{
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 36px;
}

.conteudo__destaque{
    color: var(--cor-princpal);
}

.conteudo__paragrafo{
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    text-align: justify;
}

.sobre__paragrafo{
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    text-align: justify;
}

.conteudo__secao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}  

.conteudo__secao__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;

}


.conteudo__link{
    display: flex;
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-princpal);
    text-decoration: none;
    padding: 24.5px 0;
    width: 380px ;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 16px;
}

.conteudo__secao__links :hover{
    background-color: var(--cor-hover);
}

.rodape{
    padding: 24px;
    background-color: var(--cor-princpal);
    

}

.rodape__paragrafo{
    text-align: center;
    color: var(--cor-terciaria);
    font-family: var(--fonte-segundaria);
    font-size: 24px;
    font-weight: 400;
}