@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Montserrat", sans-serif;
font-family: "Krona One", sans-serif;
  font-weight: 400;
*/

:root {
    --cor-princpal: #FF204E;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #00224D;
    --cor-hover: #5D0E41;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat", sans-serif;
}

/* :root {
    --cor-princpal:#22D4FD;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #000000;
    --cor-hover: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-segundaria: "Montserrat", sans-serif;
} */



*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__navegacao{
    display: flex;
    gap: 80px;
}

.cabecalho__links{
    text-decoration: none;
    color: var(--cor-princpal);
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 600;
}


.conteudo{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
}

.sobre__principal{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
}

.conteudo__secao{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.sobre__secao{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 600px;
}

.conteudo__titulo  {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 2.25rem;
    
}

.sobre__titulo{
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-size: 2.25rem;
}

.conteudo__destaque{
    color: var(--cor-princpal);
}

.conteudo__paragrafo{
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    text-align: justify;
}

.sobre__paragrafo{
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    text-align: justify;
}

.conteudo__secao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}  

.conteudo__secao__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}


.conteudo__link{
    display: flex;
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-princpal);
    text-decoration: none;
    padding: 24.5px 0;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    gap: 16px;
}

.conteudo__secao__links :hover{
    background-color: var(--cor-hover);
}

.conteudo__imagem{
    width: 40%;
}

.rodape{
    padding: 24px;
    background-color: var(--cor-princpal);
    

}

.rodape__paragrafo{
    text-align: center;
    color: var(--cor-terciaria);
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
   
    .cabecalho{
        padding: 5% ;
    }

    .cabecalho__navegacao{
        justify-content: center;
    }

    .conteudo{
        flex-direction: column-reverse;   
        padding: 5%;
    }

    .sobre__principal{
        flex-direction: column-reverse;   
        padding: 5%;
    }

    .conteudo__secao{
        padding: 5%;
        width: auto;
    }

    .sobre__secao{
        padding: 5%;
        width: auto;
    }

    .conteudo__imagem{
        width: 50%;
    }

    .conteudo__secao__titulo{
        text-align: center;
    }

    .sobre__titulo{
        text-align: center;
    }

    .conteudo__link{
        width: 80%;
    }

   

    .conteudo__titulo{
        text-align: center;
    }
    
    .rodape__paragrafo{
        font-size: 1.2rem;
    }
}